form {
    background: url("../images/white_wallpaper.png");
    background-size: cover;
    border-radius: 1em;
    box-shadow: 0 3px 1px #d4d4d3;
    display: flex;
    flex-flow: column;
    gap: 1.3em;
    padding: 1.4em 0.4em;
    width: 14em;
}

input {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--input-border-color);
    color: var(--input-color);
    font-size: 2em;
    outline: none;
}

#login-btn, #register-btn {
    background: #E35533;
    border: none;
    border-radius: .3em;
    box-shadow: 0 3px 1px #AD442B;
    color: white;
    font-size: 2em;
}

#register-btn {
    background: #FFCF63;
    box-shadow: 0 3px 1px #C6AC43;
}

.logo {
    width: 28%;
}
