@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
    --input-border-color: #D5A0946B;
    --input-color: #D5A094;
}

* {
    font-family: 'Chewy', sans-serif;
    text-shadow: 1px 1px 0 rgba(46, 46, 46, 0.52);
}

body {
    background: url("../images/orange_wallpaper.png");
    background-size: contain;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

a {
    color: inherit;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 1em;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

form {
    align-items: center;
    background: url("../images/white_wallpaper.png");
    background-size: cover;
    border-radius: 1em;
    box-shadow: 0 3px 1px #d4d4d3;
    display: flex;
    flex-flow: column;
    gap: 1.3em;
    padding: 1.4em 0.4em;
    width: 14em;
}

input {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--input-border-color);
    color: var(--input-color);
    font-size: 2em;
    outline: none;
    width: 6em;
}

.logo {
    width: 27em;
}

.red-btn, .yellow-btn {
    background: #E35533;
    border: none;
    border-radius: .3em;
    box-shadow: 0 3px 1px #AD442B;
    color: white;
    font-size: 2em;
    height: fit-content;
    max-width: 6em;
    min-width: 6em;
    transition: all .2s ease-in;
}

.yellow-btn {
    background: #FFCF63;
    box-shadow: 0 3px 1px #C6AC43;
}

.red-btn:hover, .yellow-btn:hover {
    box-shadow: none;
    cursor: pointer;
    transform: translateY(3px);
}

span {
    color: white;
    font-size: 2em;
}

.shake {
    animation: shake .2s ease-in-out;
}

@keyframes shake {
    25% {
        transform: translateX(4px)
    }
    50% {
        transform: translateX(-4px)
    }
    75% {
        transform: translateX(4px)
    }
}

.notice {
    background: rgba(222, 76, 76, 0.71);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.03);
    font-size: 14px;
    font-weight: 700;
    left: 0;
    margin: auto;
    padding: 12px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 30px;
    visibility: hidden;
    width: fit-content;
    z-index: 100;
}

.notice.visible {
    -webkit-animation: fadein 0.5s, fadeout 1.5s 4.5s;
    animation: fadein 0.5s, fadeout 1.5s 4.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    visibility: visible;
}

.announce {
    background: rgba(255, 255, 255, 0.71) !important;
    color: rgb(0, 0, 0) !important;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}