@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
    --input-border-color: #D5A0946B;
    --input-color: #D5A094;
}

* {
    font-family: 'Chewy', sans-serif;
    text-shadow: 1px 1px 0 rgba(46, 46, 46, 0.52);
}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.p5Canvas {
    background-color: white;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.drawings-container {
    display: flex;
    gap: 3em;
}

.container {
    align-items: center;
    background: url("../images/orange_wallpaper.png");
    background-size: contain;
    display: flex;
    flex-flow: column;
    gap: 4em;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}