@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
    --input-border-color: #D5A0946B;
    --input-color: #D5A094;
}

* {
    font-family: 'Chewy', sans-serif;
    text-shadow: 1px 1px 0 rgba(46, 46, 46, 0.52);
}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.p5Canvas {
    background-color: white;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.drawings-container {
    display: flex;
    gap: 3em;
}

.container {
    align-items: center;
    background: url("../images/orange_wallpaper.png");
    background-size: contain;
    display: flex;
    flex-flow: column;
    gap: 3em;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

form {
    align-items: center;
    background: url("../images/white_wallpaper.png");
    background-size: cover;
    border-radius: 1em;
    box-shadow: 0 3px 1px #d4d4d3;
    display: flex;
    flex-flow: column;
    gap: 1.3em;
    padding: 1.4em 0.4em;
    width: 14em;
}

input {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--input-border-color);
    color: var(--input-color);
    font-size: 2em;
    outline: none;
    width: 6em;
}

.logo {
    width: 27em;
}

.red-btn, .yellow-btn {
    background: #E35533;
    border: none;
    border-radius: .3em;
    box-shadow: 0 3px 1px #AD442B;
    color: white;
    font-size: 2em;
    height: fit-content;
    max-width: 6em;
    min-width: 6em;
    transition: all .2s ease-in;
}

.yellow-btn {
    background: #FFCF63;
    box-shadow: 0 3px 1px #C6AC43;
}

.red-btn:hover, .yellow-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: none;
}

span {
    color: white;
    font-size: 2em;
}