<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>DrawMatch - Home</title>
    <link rel="icon" href="{% static 'images/pen.png' %}">
    <script src="{% static 'scripts/logout.mjs' %}" type="module"></script>
    <script src="{% static 'scripts/create-room.mjs' %}" type="module"></script>
    <script src="{% static 'scripts/join-room.mjs' %}" type="module"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/74fed0e2b5.js"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script>
        const csrftoken = '{{ csrf_token }}';
    </script>
</head>
<body>
<div class="container">
    <div class="leaderboard"><a href="/leaderboard"><i class="fa-solid fa-trophy"></i></a></div>
    <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
    <span>{{ username }}</span>
    <div class="interactions">
        <button id="create-room-btn" class="red-btn">Play</button>
        <form method="get" class="join-room-form">
            <input type="text" name="room-code" placeholder="Room code" minlength="6" maxlength="6">
            <button class="yellow-btn" type="submit">Join room</button>
        </form>
        <button id="logout-btn" class="red-btn">Logout</button>
    </div>
</div>
</body>
</html>
