{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>DrawMatch - Room {{ room_code }}</title>
    <link rel="icon" href="{% static 'images/pen.png' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/room.css' %}">
    <script src="{% static 'scripts/index.mjs' %}" type="module"></script>
    <script src="{% static 'scripts/copy-code.mjs' %}" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script>
		const csrftoken = '{{ csrf_token }}';
		const id_user =
			{% if user_id == None%}
				null
			{% else %}
				{{ user_id }}
			{% endif %};
		const id_user_left =
			{% if room.id_user_left.id == None%}
				null
			{% else %}
				{{ room.id_user_left.id }}
			{% endif %};
		let id_user_right =
			{% if room.id_user_right.id == None%}
				null
			{% else %}
				{{ room.id_user_right.id }}
			{% endif %};
		const room_code = {{ room_code }};
		const connectionString = `ws://${window.location.host}/ws/room/{{room_code}}/`;
		const gameSocket = new WebSocket(connectionString);
		const userJoinedString = `ws://${window.location.host}/ws/userjoined/{{room_code}}/`;
		const userJoinedSocket = new WebSocket(userJoinedString);
    </script>
</head>
<body>
<div class="container">
    <div class="room-info">
        <span>Room <span class="room-code">{{ room_code }}</span></span>
        <span class="room-code-info">Click to copy code !</span>
    </div>
    <div class="drawings-container">
        <div class="drawing-container-left">
            <span class="left-user-name">{{ room.id_user_left.name }}</span>
        </div>
        <div class="drawing-container-right">
            <span class="right-user-name">
                {% if room.id_user_right.id == None %}
                    Waiting for someone...
                {% else %}
                    {{ room.id_user_right.name }}
                {% endif %}
            </span>
        </div>
    </div>
    <span class="pen-voice">Pen : <span class="pen-sentence">Have you planned to draw one day ?</span><span
            class="pen-prediction"></span></span>
</div>
</body>
</html>
